body {
  margin: auto;
  padding: 20px;
  max-width: 1440px;
  background-color: white;
}

* {
  box-sizing: border-box;
  font-family: "Roboto", Times, serif;
}

a {
  text-decoration: none;
  color: black;
}

li {
  list-style-type: none;
}
